.info-wrapper {
    background-color: var(--bright-background-color);
    border-left: 4px solid var(--blue-color);
    border-radius: 5px;
    padding: 7px;
    margin: 5px 0 5px 0;
}

.info-text {
    overflow: hidden;
    word-break: break-all;
}